#root {
  max-width: 1440px;
  margin: 0 auto;
  
  text-align: center;
}

  .font{
    font-family: "Rethink Sans", sans-serif;
   
  } 

  .inter-font { font-family: "Inter", sans-serif;}
  

/* ===== Client Slider Pagination ===== */

.client-pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.client-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #3b82f6;
  opacity: 0.4;
  border-radius: 999px;
  transition: all 0.3s ease;
}

.client-pagination .swiper-pagination-bullet-active {
  width: 32px;
  opacity: 1;
  background: linear-gradient(90deg, #3b82f6, #60a5fa);
}





/* ===== ICON CUT FIX ===== */
.service-swiper,
.service-swiper .swiper-wrapper,
.service-swiper .swiper-slide {
  overflow: visible !important;
}

/* ===== PROGRESS BAR (BUILT-IN) ===== */
.service-swiper .swiper-pagination-progressbar {
  width: 100%  !important;  
  max-width: 1099px;                /* required width */
  height: 5px  !important;                  /* required height */
  margin: 40px auto 0;           /* slider ke niche */
  background-color: rgba(255, 255, 255, 0.35);
  position: relative;
}

/* moving fill */
.service-swiper .swiper-pagination-progressbar-fill {
  background-color: #ffffff !important;
}


.item {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 65px;
  height: 65px;
  border-radius: 9999px;
  

  /* center correction */
  transform-origin: center;
}

/* radius = half of parent ring */
.i-b1 { transform: rotate(0deg)   translateY(-250px); }
.i-b2 { transform: rotate(72deg)  translateY(-190px); }
.i-b3 { transform: rotate(150deg) translateY(-176px); }
.i-b4 { transform: rotate(237deg) translateY(-222px);}
.i-b5 { transform: rotate(295deg) translateY(-257px); }

.i-i1 { transform: rotate(25deg)   translateY(-153px); }
.i-i2 { transform: rotate(125deg)   translateY(-100px); }
.i-i3 { transform: rotate(232deg)   translateY(-140px); }
.i-i4 { transform: rotate(310deg)   translateY(-190px); }

/* ================= OUTER RING – ROTATE ================= */
.outer-ring {
  animation: rotateOuter 20s linear infinite;
  transform-origin: center;
}

/* ================= INNER RING – ROTATE ================= */
.inner-ring {
  animation: rotateInner 15s linear infinite;
  transform-origin: center;
}

/* ================= KEYFRAMES ================= */
@keyframes rotateOuter {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes rotateInner {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

.center-div {
  animation: counterRotate 15s linear infinite;
}

@keyframes counterRotate {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

.item img {
  transform: rotate(-360deg);
}
